.header {
    padding: 0.875rem 0;
    background-color: #fff;
    box-shadow: 1px 1px transparent;
    border-bottom: 1px solid #dadce0;

    .headerLogo {
        background: url(../../assets/images/icons/logo.svg) no-repeat center center;
        width: 65px;
        height: 20px;
        cursor: pointer;

        &:hover,
        &:active {
            opacity: 0.75;
        }
    }

    .headerMenu {
        text-transform: initial;
        color: #000;
    }
}