.header {
    padding: 0.875rem 0;
    background-color: #fff;
    box-shadow: 1px 1px transparent;
    border-bottom: 1px solid #dadce0;

    .headerLogo {
        background: url(../../assets/images/icons/logo.svg) no-repeat center center;
        width: 65px;
        height: 20px;
        display: block;
    }

    a.headerLogo {
        cursor: pointer;

        &:hover,
        &:active {
            opacity: 0.75;
        }
    }

    .headerMenu {
        text-transform: initial;
        color: #000;
    }


}

.link,
.link span {
    font-weight: 500;
    font-size: 0.875rem;
}

.linkInteraction {
    color: #1976d2;
    transition: all .3s ease;

    svg {
        color: #1976d2;
        transition: all .3s ease;
    }

    &:hover {
        color: darken(#1976d2, 15%);

        svg {
            color: darken(#1976d2, 15%);
        }
    }
}

.linkLogout {
    color: #ff6666;
    transition: all .3s ease;

    svg {
        color: #ff6666;
        transition: all .3s ease;
    }

    &:hover {
        color: darken(#ff6666, 15%);

        svg {
            color: darken(#ff6666, 15%);
        }
    }
}